@main-back: #efefef;

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: @main-back;
}

.header {
    background-color: #efefef;
    display: block;
    height: 100px;
}

.main {
    background-color: #cdcdcd;
    padding: 5px;
    border-radius: 5px;
    margin-left: 205px;
    margin-right: 5px;
    margin-top: 10px;
}

.menu {
    background-color: #bfbfbf;
    float: left;
    height: 400px;
    width: 200px;
}

.footer {
    clear: both;
    background-color: #cecece;
    display: block;
    text-align: center;
}
