@(title: String, bookItemForm:Form[String])(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <!--script src="@routes.Assets.at("javascripts/main.min.js")" type="text/javascript"></script-->
    </head>
    <body>
        <header>
          <h1>Sample AWS</h1>
        </header>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2 well well-small">
              <ul class="nav nav-list">
                <li><i class="icon-home"></i>home</li>
                <li><i class="icon-inbox"/></i>inbox</li>
                <li><i class="icon-star"/></i>star</li>
                <li><i class="icon-heart"/></i>heart</li>
                <li><i class="icon-wrench"></i>setting</li>
              </ul>
            </div>
            <div class="span10">@header(bookItemForm)</div>
            <div class="span10 well">
              @content
            </div>
          </div>
        </div>
        <footer>@footer()</footer>
    </body>
</html>
